.header {
  .title {
    color: #2b2d38;
    text-align: center;
    margin-top: 20px;
    font: normal 600 36px/54px OpenSans, sans-serif;
    letter-spacing: -0.2px;
  }
  .subtitle {
    color: #60657b;
    margin-top: 10px;
    margin: auto;
    max-width: 518px;
    text-align: center;
    width: 90%;
    font: normal 400 21px/36px OpenSans, sans-serif;
    letter-spacing: 0;
  }
}
