.report {
  .sources {
    padding: 12px 20px;
    background: #ebf1f8;
    // width: 100%;
    display: block;
  }
  .result-text {
    mark {
      background: #ffcccb;
      margin-right: 10px;
    }
  }
}
